* {
    cursor: none;
}

body {
    margin: 0;
    font-family: 'Roboto';
    /* BACKGROUND */
    background: url(/assets/img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    user-select: none;
    /* Format inner */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Custom Cursor */

.cursor {
    z-index: 999;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 10px black;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: .25s width, .25s height;
}

.cursor.hover {
    width: 25px;
    height: 25px;
}