* {
    cursor: none;
}

body {
    margin: 0;
    font-family: 'Roboto';
    /* BACKGROUND */
    background: url(/assets/img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    user-select: none;
    /* Format inner */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Input + BTN */

.input-container {
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px #4e4e4e;
    width: 70%;
    max-width: 500px;
}

.input-container input {
    border: none;
    font-size: 25px;
    width: calc(100% - 50px);
    height: 30px;
    outline: none;
    margin: 5px;
    padding: 2.5px;
}

.go {
    height: 40px;
    width: 40px;
    border-radius: 0px 7.5px 7.5px 0px;
    background-color: #673AB7;
    background-image: url(/assets/img/arrow.svg);
    background-repeat: no-repeat;
    background-size: cover;
    outline: none;
    transition: .2s background-color, .2s filter;
}

.go:hover, .go:focus {
    background-color: #512da8;
    filter: drop-shadow(0px 0px 2.5px #393939);
}

/* Custom Cursor */

.cursor {
    z-index: 999;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #000000;
    box-shadow: 0 0 10px black;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: .25s width, .25s height;
}

.cursor.hover {
    width: 25px;
    height: 25px;
}